In [1]:
## Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Grouper

%matplotlib inline

In [2]:
## Load datasets
dat_series = pd.read_csv("C:/Users/neliq/Documents/MBA_monografia/tables/all_data.csv", encoding ='ISO-8859-1', sep = ';')
dat_series.head()

,CD_MUN,MUN,YEAR,YIELD,AP,NDVI,LST,tmmx,tmin,aet,pr,soil,ndvi_st,lst_st,tmin_st,tmmx_st,aet_st,pr_st,soil_st
0,3500105,Adamantina,2000,50000.0,7000.0,5174,15244,288,163,704,91,166,409.91,26.60,1.15,1.13,8.91,0.42,0.75
1,3500204,Adolfo,2000,NaN,NaN,4080,15090,290,162,716,94,255,2114.29,143.62,0.61,0.55,9.19,0.45,0.49
2,3500303,Aguaí,2000,80000.0,5250.0,5614,15133,272,151,675,109,399,670.29,48.18,3.44,3.07,5.85,2.70,3.21
3,3500402,Águas da Prata,2000,NaN,NaN,6463,14901,243,124,701,132,451,699.00,58.00,6.57,8.33,3.53,2.57,2.86
4,3500501,Águas de Lindóia,2000,NaN,NaN,5996,14992,250,130,688,119,363,553.93,42.43,1.89,1.87,4.73,1.99,1.89

In [3]:
## Copy the dataset for cleaning
dat_new = dat_series.copy()
dat_new

,CD_MUN,MUN,YEAR,YIELD,AP,NDVI,LST,tmmx,tmin,aet,pr,soil,ndvi_st,lst_st,tmin_st,tmmx_st,aet_st,pr_st,soil_st
0,3500105,Adamantina,2000,50000.0,7000.0,5174,15244,288,163,704,91,166,409.91,26.60,1.15,1.13,8.91,0.42,0.75
1,3500204,Adolfo,2000,NaN,NaN,4080,15090,290,162,716,94,255,2114.29,143.62,0.61,0.55,9.19,0.45,0.49
2,3500303,Aguaí,2000,80000.0,5250.0,5614,15133,272,151,675,109,399,670.29,48.18,3.44,3.07,5.85,2.70,3.21
3,3500402,Águas da Prata,2000,NaN,NaN,6463,14901,243,124,701,132,451,699.00,58.00,6.57,8.33,3.53,2.57,2.86
4,3500501,Águas de Lindóia,2000,NaN,NaN,5996,14992,250,130,688,119,363,553.93,42.43,1.89,1.87,4.73,1.99,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13540,3557006,Votorantim,2020,NaN,NaN,6698,14955,240,136,573,82,214,1397.76,122.51,7.27,7.68,29.69,6.11,48.80
13541,3557105,Votuporanga,2020,70000.0,12100.0,5534,15352,301,172,486,65,210,680.54,35.87,0.78,0.86,5.96,1.00,9.17
13542,3557154,Zacarias,2020,80000.0,8000.0,4793,15173,296,168,494,62,175,2058.44,140.11,0.63,0.66,2.07,0.68,6.07
13543,3557204,Chavantes,2020,78960.0,9504.0,6122,15159,281,155,609,79,147,651.22,90.00,1.84,2.12,7.59,0.95,6.53
13544,3557303,Estiva Gerbi,2020,100000.0,600.0,6020,15178,271,150,567,92,319,739.69,38.23,0.64,0.81,5.54,0.69,6.69

In [12]:
dat_group = pd.DataFrame(dat_new.groupby('MUN')['YIELD'].sum())
print(dat_group.shape)
dat_group_zeros = dat_group.loc[dat_group['YIELD']==0]
cities_to_drop = list(dat_group_zeros.index.values)
len(cities_to_drop)

(645, 1)

71

In [5]:
## Exclude MUN names with zero yields
dat_new_clean = dat_new[~dat_new['MUN'].isin(cities_to_drop)]
dat_new_clean

,CD_MUN,MUN,YEAR,YIELD,AP,NDVI,LST,tmmx,tmin,aet,pr,soil,ndvi_st,lst_st,tmin_st,tmmx_st,aet_st,pr_st,soil_st
0,3500105,Adamantina,2000,50000.0,7000.0,5174,15244,288,163,704,91,166,409.91,26.60,1.15,1.13,8.91,0.42,0.75
1,3500204,Adolfo,2000,NaN,NaN,4080,15090,290,162,716,94,255,2114.29,143.62,0.61,0.55,9.19,0.45,0.49
2,3500303,Aguaí,2000,80000.0,5250.0,5614,15133,272,151,675,109,399,670.29,48.18,3.44,3.07,5.85,2.70,3.21
3,3500402,Águas da Prata,2000,NaN,NaN,6463,14901,243,124,701,132,451,699.00,58.00,6.57,8.33,3.53,2.57,2.86
5,3500550,Águas de Santa Bárbara,2000,NaN,NaN,5388,15148,270,142,776,95,246,670.78,55.93,1.54,1.56,9.34,1.64,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13540,3557006,Votorantim,2020,NaN,NaN,6698,14955,240,136,573,82,214,1397.76,122.51,7.27,7.68,29.69,6.11,48.80
13541,3557105,Votuporanga,2020,70000.0,12100.0,5534,15352,301,172,486,65,210,680.54,35.87,0.78,0.86,5.96,1.00,9.17
13542,3557154,Zacarias,2020,80000.0,8000.0,4793,15173,296,168,494,62,175,2058.44,140.11,0.63,0.66,2.07,0.68,6.07
13543,3557204,Chavantes,2020,78960.0,9504.0,6122,15159,281,155,609,79,147,651.22,90.00,1.84,2.12,7.59,0.95,6.53
13544,3557303,Estiva Gerbi,2020,100000.0,600.0,6020,15178,271,150,567,92,319,739.69,38.23,0.64,0.81,5.54,0.69,6.69

In [6]:
## Forward fill of NaN values
dat_new_clean['YIELD'].ffill(inplace = True)
dat_new_clean['AP'].ffill(inplace = True)

C:\Users\neliq\AppData\Local\Temp\ipykernel_18272\859843927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_new_clean['YIELD'].ffill(inplace = True)
C:\Users\neliq\AppData\Local\Temp\ipykernel_18272\859843927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_new_clean['AP'].ffill(inplace = True)

In [13]:
## Save to csv
dat_new_clean.to_csv("data_new_clean.csv")

In [8]:
## Print to see if there are any zeros - From 642, we ended with 574 MUN - 68 were removed
pd.DataFrame(dat_new_clean.groupby('MUN')['YIELD'].sum())

                            YIELD
MUN
Adamantina              1590412.0
Adolfo                  1803114.0
Aguaí                   1843603.0
Agudos                  1539686.0
Alambari                1663376.0
...                           ...
Águas da Prata          1848603.0
Águas de Santa Bárbara  1706507.0
Álvares Florence        1559529.0
Álvares Machado         1634119.0
Óleo                    1763462.0

[574 rows x 1 columns]

In [9]:
## Calculate mean and sd for each year
mean_yield = pd.DataFrame(dat_new_clean.groupby('YEAR')['YIELD'].mean())
std_yield = pd.DataFrame(dat_new_clean.groupby('YEAR')['YIELD'].std())
mean_st_merged = mean_yield.merge(std_yield, left_index=True, right_index=True)
mean_st_merged

           YIELD_x       YIELD_y
YEAR
2000  74893.242160  15333.220827
2001  75334.463415  12919.379401
2002  76441.721254  13265.397768
2003  77743.890244  16013.208601
2004  79132.754355  12879.530684
2005  79924.337979  14484.600442
2006  83372.606272  19381.750053
2007  83020.292683  16337.576282
2008  82084.608014  15780.537552
2009  83217.114983  17667.405788
2010  83454.428571  16076.798296
2011  80797.294425  14256.667260
2012  78187.214286  10464.024181
2013  79465.806620  11913.898690
2014  72652.874564  11629.965876
2015  76321.817073  12075.076788
2016  78449.778746  13033.577510
2017  78924.850174  12626.071977
2018  76482.308362  14117.773958
2019  75700.665505  12159.904316
2020  76807.564460  12173.418315