In [2]:
## Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Grouper

%matplotlib inline

In [3]:
## Load datasets
dat_series = pd.read_csv("C:/Users/neliq/Documents/MBA_monografia/tables/all_data.csv", encoding ='ISO-8859-1', sep = ';')
dat_series.head()

,CD_MUN,MUN,YEAR,YIELD,AP,NDVI,LST,tmmx,tmin,aet,pr,soil,ndvi_st,lst_st,tmin_st,tmmx_st,aet_st,pr_st,soil_st
0,3500105.0,Adamantina,2000,50000.0,7000.0,5174.0,15244.0,288.0,163.0,704.0,91.0,166.0,409.91,26.6,1.15,1.13,8.91,0.42,0.75
1,3500204.0,Adolfo,2000,NaN,NaN,4080.0,15090.0,290.0,162.0,716.0,94.0,255.0,2114.29,143.62,0.61,0.55,9.19,0.45,0.49
2,3500303.0,Aguaí,2000,80000.0,5250.0,5614.0,15133.0,272.0,151.0,675.0,109.0,399.0,670.29,48.18,3.44,3.07,5.85,2.7,3.21
3,3500402.0,Águas da Prata,2000,NaN,NaN,6463.0,14901.0,243.0,124.0,701.0,132.0,451.0,699,58,6.57,8.33,3.53,2.57,2.86
4,3500501.0,Águas de Lindóia,2000,NaN,NaN,5996.0,14992.0,250.0,130.0,688.0,119.0,363.0,553.93,42.43,1.89,1.87,4.73,1.99,1.89

In [4]:
## Copy the dataset for cleaning
dat_new = dat_series.copy()
dat_new

,CD_MUN,MUN,YEAR,YIELD,AP,NDVI,LST,tmmx,tmin,aet,pr,soil,ndvi_st,lst_st,tmin_st,tmmx_st,aet_st,pr_st,soil_st
0,3500105.0,Adamantina,2000,50000.0,7000.0,5174.0,15244.0,288.0,163.0,704.0,91.0,166.0,409.91,26.6,1.15,1.13,8.91,0.42,0.75
1,3500204.0,Adolfo,2000,NaN,NaN,4080.0,15090.0,290.0,162.0,716.0,94.0,255.0,2114.29,143.62,0.61,0.55,9.19,0.45,0.49
2,3500303.0,Aguaí,2000,80000.0,5250.0,5614.0,15133.0,272.0,151.0,675.0,109.0,399.0,670.29,48.18,3.44,3.07,5.85,2.7,3.21
3,3500402.0,Águas da Prata,2000,NaN,NaN,6463.0,14901.0,243.0,124.0,701.0,132.0,451.0,699,58,6.57,8.33,3.53,2.57,2.86
4,3500501.0,Águas de Lindóia,2000,NaN,NaN,5996.0,14992.0,250.0,130.0,688.0,119.0,363.0,553.93,42.43,1.89,1.87,4.73,1.99,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13560,3557006.0,Votorantim,2020,NaN,NaN,6698.0,14955.0,240.0,136.0,573.0,82.0,214.0,1397.76,122.51,7.27,7.68,29.69,6.11,48.8
13561,3557105.0,Votuporanga,2020,70000.0,12100.0,5534.0,15352.0,301.0,172.0,486.0,65.0,210.0,680.54,35.87,0.78,0.86,5.96,1,9.17
13562,3557154.0,Zacarias,2020,80000.0,8000.0,4793.0,15173.0,296.0,168.0,494.0,62.0,175.0,2058.44,140.11,0.63,0.66,2.07,0.68,6.07
13563,3557204.0,Chavantes,2020,78960.0,9504.0,6122.0,15159.0,281.0,155.0,609.0,79.0,147.0,651.22,90,1.84,2.12,7.59,0.95,6.53
13564,3557303.0,Estiva Gerbi,2020,100000.0,600.0,6020.0,15178.0,271.0,150.0,567.0,92.0,319.0,739.69,38.23,0.64,0.81,5.54,0.69,6.69

In [5]:
dat_group = pd.DataFrame(dat_new.groupby('MUN')['YIELD'].sum())
print(dat_group.shape)
dat_group_zeros = dat_group.loc[dat_group['YIELD']==0]
cities_to_drop = list(dat_group_zeros.index.values)
cities_to_drop

(642, 1)

['Alfredo Marcondes',
 'Aparecida',
 'Arujá',
 'Barueri',
 'Bertioga',
 'Biritiba Mirim',
 'Cajamar',
 'Campos do Jordão',
 'Canas',
 'Capão Bonito',
 'Caraguatatuba',
 'Carapicuíba',
 'Cotia',
 'Cubatão',
 'Cunha',
 'Embu das Artes',
 'Embu-Guaçu',
 'Ferraz de Vasconcelos',
 'Francisco Morato',
 'Franco da Rocha',
 'Garça',
 'Guapiara',
 'Guaratinguetá',
 'Guarujá',
 'Guarulhos',
 'Iguape',
 'Itanhaém',
 'Itapecerica da Serra',
 'Itapevi',
 'Itariri',
 'Jandira',
 'Juquitiba',
 'Juquiá',
 'Lavrinhas',
 'Lorena',
 'Lupércio',
 'Mairiporã',
 'Mauá',
 'Miracatu',
 'Mogi das Cruzes',
 'Mongaguá',
 'Osasco',
 'Pedro de Toledo',
 'Piquete',
 'Potim',
 'Poá',
 'Praia Grande',
 'Ribeirão Pires',
 'Rio Grande da Serra',
 'Salesópolis',
 'Santana de Parnaíba',
 'Santo André',
 'Santo Antônio do Pinhal',
 'Santos',
 'São Bento do Sapucaí',
 'São Bernardo do Campo',
 'São Lourenço da Serra',
 'São Vicente',
 'Taboão da Serra',
 'Tremembé',
 'Ubatuba',
 'Valinhos',
 'Vargem Grande Paulista',
 'Vera Cruz',
 'Vinhedo',
 'Águas de Lindóia',
 'Águas de São Pedro',
 'Álvaro de Carvalho']

In [6]:
## Exclude MUN names with zero yields
dat_new_clean = dat_new[~dat_new['MUN'].isin(cities_to_drop)]
dat_new_clean

,CD_MUN,MUN,YEAR,YIELD,AP,NDVI,LST,tmmx,tmin,aet,pr,soil,ndvi_st,lst_st,tmin_st,tmmx_st,aet_st,pr_st,soil_st
0,3500105.0,Adamantina,2000,50000.0,7000.0,5174.0,15244.0,288.0,163.0,704.0,91.0,166.0,409.91,26.6,1.15,1.13,8.91,0.42,0.75
1,3500204.0,Adolfo,2000,NaN,NaN,4080.0,15090.0,290.0,162.0,716.0,94.0,255.0,2114.29,143.62,0.61,0.55,9.19,0.45,0.49
2,3500303.0,Aguaí,2000,80000.0,5250.0,5614.0,15133.0,272.0,151.0,675.0,109.0,399.0,670.29,48.18,3.44,3.07,5.85,2.7,3.21
3,3500402.0,Águas da Prata,2000,NaN,NaN,6463.0,14901.0,243.0,124.0,701.0,132.0,451.0,699,58,6.57,8.33,3.53,2.57,2.86
5,3500550.0,Águas de Santa Bárbara,2000,NaN,NaN,5388.0,15148.0,270.0,142.0,776.0,95.0,246.0,670.78,55.93,1.54,1.56,9.34,1.64,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13560,3557006.0,Votorantim,2020,NaN,NaN,6698.0,14955.0,240.0,136.0,573.0,82.0,214.0,1397.76,122.51,7.27,7.68,29.69,6.11,48.8
13561,3557105.0,Votuporanga,2020,70000.0,12100.0,5534.0,15352.0,301.0,172.0,486.0,65.0,210.0,680.54,35.87,0.78,0.86,5.96,1,9.17
13562,3557154.0,Zacarias,2020,80000.0,8000.0,4793.0,15173.0,296.0,168.0,494.0,62.0,175.0,2058.44,140.11,0.63,0.66,2.07,0.68,6.07
13563,3557204.0,Chavantes,2020,78960.0,9504.0,6122.0,15159.0,281.0,155.0,609.0,79.0,147.0,651.22,90,1.84,2.12,7.59,0.95,6.53
13564,3557303.0,Estiva Gerbi,2020,100000.0,600.0,6020.0,15178.0,271.0,150.0,567.0,92.0,319.0,739.69,38.23,0.64,0.81,5.54,0.69,6.69

In [15]:
## Forward fill of NaN values
dat_new_clean['YIELD'].ffill(inplace = True)
dat_new_clean['AP'].ffill(inplace = True)

C:\Users\neliq\AppData\Local\Temp\ipykernel_1100\2769066380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_new_clean['YIELD'].ffill(inplace = True)
C:\Users\neliq\AppData\Local\Temp\ipykernel_1100\2769066380.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_new_clean['AP'].ffill(inplace = True)

In [16]:
dat_new_clean

,CD_MUN,MUN,YEAR,YIELD,AP,NDVI,LST,tmmx,tmin,aet,pr,soil,ndvi_st,lst_st,tmin_st,tmmx_st,aet_st,pr_st,soil_st
0,3500105.0,Adamantina,2000,50000.0,7000.0,5174.0,15244.0,288.0,163.0,704.0,91.0,166.0,409.91,26.6,1.15,1.13,8.91,0.42,0.75
1,3500204.0,Adolfo,2000,50000.0,7000.0,4080.0,15090.0,290.0,162.0,716.0,94.0,255.0,2114.29,143.62,0.61,0.55,9.19,0.45,0.49
2,3500303.0,Aguaí,2000,80000.0,5250.0,5614.0,15133.0,272.0,151.0,675.0,109.0,399.0,670.29,48.18,3.44,3.07,5.85,2.7,3.21
3,3500402.0,Águas da Prata,2000,80000.0,5250.0,6463.0,14901.0,243.0,124.0,701.0,132.0,451.0,699,58,6.57,8.33,3.53,2.57,2.86
5,3500550.0,Águas de Santa Bárbara,2000,80000.0,5250.0,5388.0,15148.0,270.0,142.0,776.0,95.0,246.0,670.78,55.93,1.54,1.56,9.34,1.64,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13560,3557006.0,Votorantim,2020,100000.0,350.0,6698.0,14955.0,240.0,136.0,573.0,82.0,214.0,1397.76,122.51,7.27,7.68,29.69,6.11,48.8
13561,3557105.0,Votuporanga,2020,70000.0,12100.0,5534.0,15352.0,301.0,172.0,486.0,65.0,210.0,680.54,35.87,0.78,0.86,5.96,1,9.17
13562,3557154.0,Zacarias,2020,80000.0,8000.0,4793.0,15173.0,296.0,168.0,494.0,62.0,175.0,2058.44,140.11,0.63,0.66,2.07,0.68,6.07
13563,3557204.0,Chavantes,2020,78960.0,9504.0,6122.0,15159.0,281.0,155.0,609.0,79.0,147.0,651.22,90,1.84,2.12,7.59,0.95,6.53
13564,3557303.0,Estiva Gerbi,2020,100000.0,600.0,6020.0,15178.0,271.0,150.0,567.0,92.0,319.0,739.69,38.23,0.64,0.81,5.54,0.69,6.69

In [17]:
## Print to see if there are any zeros - From 642, we ended with 574 MUN - 68 were removed
pd.DataFrame(dat_new_clean.groupby('MUN')['YIELD'].sum())

                            YIELD
MUN
Adamantina              1590412.0
Adolfo                  1803114.0
Aguaí                   1843603.0
Agudos                  1539686.0
Alambari                1663376.0
...                           ...
Águas da Prata          1848603.0
Águas de Santa Bárbara  1706507.0
Álvares Florence        1559529.0
Álvares Machado         1634119.0
Óleo                    1763462.0

[574 rows x 1 columns]

In [18]:
## Calculate mean and sd for each year
mean_yield = pd.DataFrame(dat_new_clean.groupby('YEAR')['YIELD'].mean())
std_yield = pd.DataFrame(dat_new_clean.groupby('YEAR')['YIELD'].std())
mean_st_merged = mean_yield.merge(std_yield, left_index=True, right_index=True)
mean_st_merged

           YIELD_x       YIELD_y
YEAR
2000  74800.747405  15537.042924
2001  75356.771626  12878.460522
2002  76475.031142  13230.959702
2003  77816.908304  16046.941494
2004  79112.986159  12839.645412
2005  79916.814879  14437.236958
2006  83363.107266  19315.595425
2007  82990.740484  16295.169634
2008  82114.155709  15792.915675
2009  83186.200692  17619.640515
2010  83439.173010  16023.034037
2011  80808.697232  14212.823959
2012  78183.167820  10429.992643
2013  79411.544983  11990.614568
2014  72630.501730  11598.262831
2015  76283.500000  12060.840653
2016  78448.032872  13009.827285
2017  78947.671280  12592.511697
2018  76444.178201  14133.003642
2019  75698.411765  12122.480385
2020  76796.433276  12146.989405